<div class="py-5 text-center">
  <div class="text">
    <h2>Product Edit</h2>
  </div>

  <form id="form">
    <div class="form-floating mb-3">
      <input
        class="form-control"
        type="text"
        placeholder="Enter your project name..."
        data-sb-validations="required"
      />
      <label for="name">Product Name</label>
    </div>

    <div class="form-floating mb-3">
      <input
        class="form-control"
        type="text"
        placeholder="Image"
        data-sb-validations="required"
      />
      <label for="name">Image</label>
    </div>

    <div class="form-floating mb-3">
      <input
        class="form-control"
        type="text"
        placeholder="Enter your price..."
        data-sb-validations="required"
      />
      <label for="name">Price</label>
    </div>

    <div class="form-floating mb-3">
      <input
        class="form-control"
        type="date"
        placeholder="date"
        data-sb-validations="required,email"
        width="150px"
      />
      <label for="email">Date</label>
    </div>

    <div class="form-floating mb-3">
      <textarea
        class="form-control"
        type="text"
        placeholder="Enter your description here..."
        style="height: 10rem"
        data-sb-validations="required"
      ></textarea>
      <label for="message">Description</label>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
