<div class="container">
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo03"
          aria-controls="navbarTogglerDemo03"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Home</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-disabled="true" href="/admin">Admin</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main><router-outlet></router-outlet></main>
  <footer><i>- FPT Polytechic @Framework1 -</i></footer>
</div>
<!-- <h2 class="title">{{ myName }}</h2>

<p>{{ run() }}</p>
<div class="row">
  <h2>{{ student.name }}</h2>
  <span>{{ student.status ? "Con di hoc" : "Bo hoc" }}</span>
  <hr />
  Student Name:{{ student.name }}
  <button class="" (click)="setName('Tranggg Trangggg')">Change Name</button>
</div> -->
